
src/.vs/NossaLoja/FileContentIndex/2718d274-b24b-49da-9dee-2000d19174a8.vsidx
src/.vs/NossaLoja/FileContentIndex/42eded20-c9ba-4b2c-b651-af0df7b491a0.vsidx
src/.vs/NossaLoja/FileContentIndex/565f8939-3678-411d-94d1-4c83e720cfa0.vsidx
src/.vs/NossaLoja/FileContentIndex/db6df551-41ab-45a5-999a-5d7aa62caceb.vsidx
src/.vs/NossaLoja/FileContentIndex/e84ecfc9-3b26-40fa-864c-2fc025b57e61.vsidx
